[submodule "rtmMC/external/pico-sdk"]
	path = rtmMC/external/pico-sdk
	url = git@github.com:raspberrypi/pico-sdk.git
[submodule "rtmMC/external/picotool"]
	path = rtmMC/external/picotool
	url = git@github.com:raspberrypi/picotool.git
